<footer class="footer bg-gray-800 relative pt-1 border-b-2 border-blue-700">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                    <span class="font-bold text-gray-500 uppercase mb-2">Informasi Desa</span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-black">Contact</a></span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-black">Media Kami</a></span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-black">Data Penduduk</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-gray-500 uppercase mt-4 md:mt-0 mb-2">Bantuan</span>
                    <span class="my-2"><a href="#" class="text-white text-md hover:text-black">Kontak Kepala desa</a></span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-black">Babinsa</span>
                    <span class="my-2"><a href="#" class="text-white text-md hover:text-black">Bhabinkamtibmas</span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-gray-500 uppercase mt-4 md:mt-0 mb-2">Media Sosial</span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-black">Facebook</a></span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-black">Instagram</a></span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-black">Twitter</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t border-gray-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-white mb-2">
                     2021 Copyright© Tim IT Desa Tatung
                </p>
            </div>
        </div>
    </div>
</footer>
