<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <!-- font style goes here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter&family=Lato&family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">
<!-- end font styles -->
        <title><%= title %> </title>
</head>
<body>
        <%- include('partials/navbar')  %>     

        <div class="container md:mx-auto md:max-w-7xl  text-center md:text-left">

                <%- body %> 
        </div>

        <%- include('partials/footer') %> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="script.js"></script>
<script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });


</script>
</body>
</html>