
    <section class="flex md:h-96">
        <div class="flex justify-center items-center m-auto my-36">
                <a class="p-5 shadow m-5 max-w-lg text-center flex items-center"  href="#">
                    <span class="w-14">
                        <img class="w-full h-full" src="/img/icons/scroll.png" alt="">
                    </span>
                        <h1>Sejarah</h1>
                </a>
                <a class="p-5 shadow m-5 max-w-lg text-center flex items-center" href>
                    <span class="w-14">
                        <img class="w-full h-full" src="/img/icons/geography.png" alt="">
                    </span>
                    <h1>Geografis </h1>
                </a>
        </div>
    </section>