<div class="pt-20">
    <a class="bg-green-500 text-white px-5 py-2 rounded" href="/profil">kembali</a>
</div>
<section class="pb-44 flex justify-center">
    <div class="max-w-4xl text-left px-10 ">
        <h1 class=" my-10"><%= title %> </h1>

        <h3> <%- subTitle %> </h3>

        <div class="my-10">
        <h1 class="my-5 text-lg font-bold">Desa Tatung  terletak di ketinggian antara 132 m dari atas permukaan laut (dpl ), dengan batas-batas wilayah sebagai berikut  :</h1>
        <ul>
            <li>a. Sebelah Utara        : Desa Muneng</li>
            <li>b. Sebelah Timur        : Desa Ngampel </li>
            <li>c. Sebelah Selatan      : Desa Purworjo </li>
            <li>d. Sebelah Barat        : Desa Sendang</li>
        </ul>   

        <ul>
            Sedangkan letak kondisi Desa Tatung adalah sebagai berikut :
            <li> 
                a.  Jarak dari Ibukota Kecamatan    :    3   Km
            </li>
            <li>
                b.  Jarak dari Ibukota Kabupaten    :  10   Km
            </li>
            <li>
                c.  Bentang alam            :  Dataran 
            </li>
        </ul>
    </div>

            
            
            
            <div class="my-10">
           <ul>
               <h1 class="my-5 text-lg font-bold"> Data Kependudukan  </h1>
               
            
               <li> 1.    Jumlah penduduk Desa Tatung per Juli 2008 adalah   2162   jiwa yang terdiri dari :</li>
               <li>a.  Laki – laki        :     1077   jiwa </li>
               <li>b.  Perempuan       :     1085   jiwa </li>
               <li>c.  Jumlah KK       :       592       KK </li>
           </ul>
           
            <ul>

                Pembagian jumlah penduduk sesuai dengan Dukuh Masing-masing ;
                <li>1.    Dukuh Tatung Kidul        ( penduduk =       650    Jiwa</li> 
                <li> 2.    Dukuh  Tatung Lor        ( penduduk =       770    Jiwa</li>
                <li>3.    Dukuh  Tatung Tengah         ( penduduk =       742    Jiwa</li> 
                <li>JUMLAH                                 =     2162    Jiwa </li>
                
            </ul>
        </div>
        <div class="my-10">
            <ul>
                
                <h1 class="my-5 text-lg font-bold"> Kondisi Fisik Desa Tatung Kecamatan Balong Kabupaten Ponorogo</h1>
                
                <h3 class="my-5 text-lg font-bold"> Secara umum kondisi fisik desa Tatung memiliki kesamaan dengan desa-desa lain di wilayah Kecamatan Balong. Desa Ngraket adalah merupakan daerah dengan ketinggian tanah kurang lebih antara 132  meter dari atas permukaan laut dengan luas wilayah 115,117  Ha yang terdiri dari :</h3>

                <li>a.  Pemukiman / Pekarangan        :    25,66       Ha</li>
                <li> b.  Sawah                 :    56, 96      Ha </li>
                <li>
                    c.  Ladang                :    24,50       Ha
                </li>
                <li>
                    d.  Lainnya               :       7.99      Ha
                </li>
                <li>
                    Jumlah                :  115,117     Ha
                </li>
            </ul>
        </div>
            
             

    </div>
</section>