<section class="py-44 flex justify-center">
    <div class="max-w-4xl">
        <a class="bg-green-500 px-5 p-2 rounded" href="/profil">kembali</a>
        <h1 class="text-center my-10"><%= title %> </h1>

        <h3> ASUL – USUL DESA TATUNG</h3>

    </div>
</section>