
    <section class="flex md:h-96 max-w-7xl">
        <div class=" md:flex justify-center items-center  m-auto my-36 md:w-1/2">
                <a class="p-5 hover:shadow m-2 md:w-full text-center flex items-center border"  href="/profil/profil-sejarah">
                    <span class="w-14">
                        <img class="w-full h-full" src="/img/icons/scroll.png" alt="">
                    </span>
                    <h1 class="m-5 text-lg">Informasi Sejarah</h1>
                </a>
                <a class="p-5 hover:shadow m-2 md:w-full text-center flex items-center border" href="/profil/profil-geografis" >
                    <span class="w-14">
                        <img class="w-full h-full" src="/img/icons/geography.png" alt="">
                    </span>
                    <h1 class="m-5 text-lg">Informasi Geografis</h1>
                </a>
        </div>
    </section>