
<section class="pb-44 flex justify-center">
    <div class="max-w-4xl text-left px-10" >
        <div class="pt-20">
            <a class="bg-green-500 text-white px-5 py-2 rounded" href="/profil">kembali</a>
        </div>
        <h1 class="my-10"><%= title %> </h1>

        <h3 class="my-5"><%= subTitle %> </h3>
    <div class="text-left">
    <p>Setiap desa atau daerah pasti memiliki sejarah dan latar belakang tersendiri yang merupakan pencerminan dari karakter dan pencirian khas tertentu dari suatu daerah. Sejarah desa atau daerah seringkali tertuang dalam Sejarah dan dongeng-dongeng yang diwariskan secara turun-temurun dari mulut ke mulut sehingga sulit untuk dibuktikan secara fakta. Dan tidak jarang dongeng tersebut dihubungkan dengan mitos tempat-tempat tertentu yang dianggap keramat. Dalam hal ini desa Tatung juga memiliki cerita asal-usul dan hal tersebut merupakan identitas dari desa Tatung yang akan kami tuangkan dalam kisah dibawah ini.
        Menurut sumber cerita sesepuh desa, bahwa terjadinya Desa Tatung adalah sebagai berikut :  
        Pada tahun 1885 datanglah beberapa orang pedagang  dari brayat Jawa Tengah  dia bernama Kasan Ahmad Abu. Dia datang ke kademangan Ponorogo bukan hanya berdagang  tapi juga berdakwah  menyebarkan agama islam di Ponorogo  dia juga sering berdagang ke Balong   yang pada waktu itu hanya terdiri dari beberapa desa saja. 
        Dalam perjalanan ke Balong  dia sering singgah  istirahat di leren  gunung Prau .hingga  pada tahun 1890 dia membuka lahan  pertanian sekaligus  sekaligus perkampungan  bersama teman teman nya dari Brayat Jawa Tengah .satu tahun kemudian  dia memberi nama daerah itu  dengan nama desa Tatung  yang diambil dari situasi keadaan  desa itu yang selalu  tidak teratur  dengan airnya  kalau musim kemarau susah mendapatkan air kalau musim penghujan airnya tidak bisa dibuang  dengan keadan separti itu maka   waktu panen  akan TAK-TU-NGAN maka diberi nama  Desa Tatung
    </p>
    </div>
    </div>
</section>