<section class="pb-64 flex">
    <div class="max-w-4xl text-left px-10">
        <div class="pt-20">
            <a class="bg-green-500 text-white px-5 py-2  rounded" href="/layanan">kembali</a>
        </div>

        <h1 class="my-7"><%= layanan.judul %> </h1>

        <p><%= layanan.body  %> </p>
    </div>
</section>