<div class="pt-20">
    <a class="bg-green-500 text-white px-5 py-2 rounded" href="/profil">kembali</a>
</div>
<section class="pb-64 flex justify-center">
    <div class="max-w-4xl">
        
        
        <h1 class="text-center my-7"><%= layanan.judul %> </h1>

        <p><%= layanan.body  %> </p>
    </div>
</section>