<section>

    <div>
        <div class="">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam ipsa, nobis quasi odio aliquid excepturi? Dolores natus quos autem earum.</h1>
        </div>
        <div class="w-60 h-full">
            <img src="/img/desa.tatung_2___CDiLYHHAELS___.jpg" alt="">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, quae. Nulla veniam possimus quisquam porro voluptates doloremque, aperiam minima consequatur ipsa dolores, suscipit, perferendis corrupti. Optio ratione quae illo reiciendis, fugiat rem hic. Mollitia ratione ab omnis deserunt sunt dolor unde, veritatis ea nihil culpa sint facilis debitis quod, impedit molestiae. Aliquam, odit minus magnam animi, expedita beatae recusandae consequuntur tempora, delectus quidem libero. Nostrum dolore quis rem commodi odit atque porro quas, fugiat tempore cumque quam ea reiciendis quaerat ab amet enim. Deleniti enim sequi placeat incidunt fuga, possimus expedita. Cum, nulla quae similique delectus minus dolore consequatur saepe.</p>
        </div>



    </div>

</section>